path {
	stroke: white;
	stroke-width: 0.25px;
	fill: grey;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 250px;
	height: 48px;
	padding: 4px;
	font: 12px helvetica;
	background: lightsteelblue;
	border: 0px;
	border-radius: 0px;
	pointer-events: none;
}

div.headText {
	padding: 2px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: white;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: dimgrey
}

p1 {
	font-size: 14px;
}

#map-loading {
	z-index: 99;
	position: absolute;
	left: 48vw;
	top: 10vh;
}
