path {
	stroke: white;
	stroke-width: 0.25px;
	fill: grey;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 250px;
	height: 48px;
	padding: 4px;
	font: 12px helvetica;
	background: lightsteelblue;
	border: 0px;
	border-radius: 0px;
	pointer-events: none;
}

div.headText {
	padding: 2px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: white;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: dimgrey
}

p1 {
	font-size: 14px;
}

#map-loading-spinner {
	display: none; /*hidden by default*/
	z-index: 99;
	position: fixed;
	left: 49vw;
	top: 35vh;
}

#dbscan-button {
    position: absolute;
	z-index: 99;
	bottom: 150px;
	left: 50px;
	color: black;
	font-weight: 600;
}

#fatalities-button {
	position: absolute;
	z-index: 99;
	bottom: 150px;
	left: 190px;
	color: black;
	font-weight: 600;
}

#reset-button {
	position: absolute;
	z-index: 99;
	bottom: 150px;
	left: 372px;
	background-color: #BDBDBD !important;
	color: black;
	font-weight: 600;
}

#cluster-info-toggle-container {
	position: absolute;
	z-index: 99;
	bottom: 200px;
	left: 50px;
	display: none; /*hide initially*/
	color: white !important;
}

#cluster-info-card {
	display: none; /*hidden by default*/
	position: fixed;
	top: 5vh;
	right: 3vw;
	min-height: 150px !important;
	background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#cluster-info-title {
	color: white;
	font-weight: 900;
}
#cluster-info-text {
	color: white;
}

.legentTitle {
	color: white !important;
	fill: white !important;
}

.axis-text {
	fill: white !important;
}
